/node_modules
/package-lock.json
/settings.json
database.db
/error.log
/normal.log 
/themes/default
/database.sqlite
/plugins/DiscordbotV1.js
/plugins/DiscordbotV2.js
/plugins/backupbot.js
/olddb.sqlite
/pending.txt
