@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #080808;
}

.container {
    position: relative;
    width: 100%; /* Adjusted width */
    max-width: 400px; /* Added max-width */
    height: 100%; /* Adjusted height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Center elements vertically */
}

.container span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animateBlink {
    0% {
        background: #0ef;
    }

    25% {
        background: #2c4766;
    }
}

.login-box {
    width: 100%; /* Adjusted width */
    padding: 0 20px; /* Adjusted padding */
}


.login-box form {
    width: 100%;
    padding: 0 50px;
}

h2 {
    font-size: 2em;
    color: #0ef;
    text-align: center;
}
h1{
   color: hwb(51.85deg 60% 8.24%);

}

.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;
    color: #0ef;
}

.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}

.forgot-pass a {
    font-size: .75em;
    color: #fff;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}

.signup-link {
    margin: 20px 0 10px;
    text-align: center;
}

.signup-link a {
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}
p{
  color: #fff;
  font-size: .75rem;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
    backdrop-filter: blur(5px); /* Add blur effect */
}

/* Modal content */
.modal-content {
    background-color: #2e2e2e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add box-shadow */
    width: 80%; /* Adjusted width */
    max-width: 400px; /* Added max-width */
    height: auto; /* Adjusted height */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add box-shadow */
    color: black;
    
    position: relative; /* Make position relative for absolute positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

#errorMessage {
    text-align: center; /* Center align the error message */
    color:rgb(255, 255, 255);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: inherit;
    font-size: 10px;
    background: linear-gradient(to bottom, #4f4dd9 0%,#2b60aa 100%);
    color: white;
    padding: 0.8em 6.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button div {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:hover svg {
    transform: rotate(360deg);
  }
  
/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #ddd;
  }
  
  
  
  .popup-cont {
    position: fixed;

  }

  .popup-container {
    position: none;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  /* COMMON STYLES*/
  .popup {
    margin: 10px;
    box-shadow: 4px 4px 10px -10px rgba(0, 0, 0, 1);
    width: 300px;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    display: flex;
    top: 5%;
    border-radius: 4px;
    z-index: 9999;
    padding: 5px 0;
    font-weight: 300;
  }
  .popup svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  .popup-icon svg {
    margin: 5px;
    display: flex;
    align-items: center;
  }
  .close-icon {
    margin-left: auto;
  }
  .close-svg {
    cursor: pointer;
  }
  .close-path {
    fill: grey;
    width: 1rem; /* Adjust the width of the close icon */
    height: 1rem; /* Adjust the height of the close icon */
  }
  
  /*SEPERATE STYLES*/
  
  /* SUCCESS */
  .success-popup {
    background-color: #edfbd8;
    border: solid 1px #84d65a;
  }
  .success-icon path {
    fill: #84d65a;
  }
  .success-message {
    color: #2b641e;
  }
  
  /* ALERT */
  .alert-popup {
    background-color: #fefce8;
    border: solid 1px #facc15;
  }
  .alert-icon path {
    fill: #facc15;
  }
  .alert-message {
    color: #ca8a04;
  }
  
  /* ERROR */
  
  .error-popup {
    background-color: #fef2f2;
    border: solid 1px #f87171;
  }
  .error-icon path {
    fill: #f87171;
  }
  .error-message {
    color: #991b1b;
  }
  
  /* INFO */
  
  .info-popup {
    background-color: #eff6ff;
    border: solid 1px #1d4ed8;
  }
  .info-icon path {
    fill: #1d4ed8;
  }
  .info-message {
    color: #1d4ed8;
  }
  