/*
Basic
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-main: #ffa500; /* Change to your desired main color */
  --main-accent: #1f1f1f; /* Darker background color */
  --bg: #adadad; /* Dark background color */
  --bg-2: #b8b8b8; /* Darker background color */
  --main: #f5f5f5; /* Lighter text color */
  --shadow: rgba(255, 255, 255, 0.1) 2px 0px 16px; /* Lighter shadow color */
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  color: var(--main);
  overflow-x: hidden;
}

#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ .sidebar {
  left: -345px;
}
#menu-toggle:checked ~ .main-content {
  margin-left: 0;
  width: 100vw;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

/* helper */
.text-danger {
  color: red;
}
.text-success {
  color: #2ec3a3;
}
.text-main {
  color: var(--color-main);
}
/*
Sidebar
*/
.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: left 300ms;
}
.sidebar-container {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 1.2rem;
  overflow-y: auto;
}
.sidebar-container::-webkit-scrollbar {
  width: 5px;
}
.sidebar-container::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
}
.sidebar-container::-webkit-scrollbar-thumb {
  background-color: var(--main-accent);
  outline: 1px solid #ccc;
  border-radius: 2px;
}
.brand {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand h3 {
  color: #444;
  font-size: 3rem;
}
.brand h3 span {
  color: var(--color-main);
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.sidebar-avatar {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  border: 2px solid var(--main-accent);
  padding: 0.1rem 0.7rem;
  border-radius: 7px;
  margin: 2rem 0rem;
}
.sidebar-avatar img {
  width: 40px;
  border-radius: 10px;
  margin: 5px 0;
}
.avatar-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-menu li {
  margin-bottom: 2rem;
}
.sidebar-menu a {
  color: var(--main);
  display: block;
  padding: 0.7rem 0;
}
.sidebar-menu a.active {
  background-color: var(--color-main);
  border-radius: 7px;
  padding: 0.8rem;
}

.sidebar-card {
  background-color: var(--main-accent);
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 7px;
}

.side-card-icon {
  margin-bottom: 0.8rem;
}
.side-card-icon + div {
  margin-bottom: 1rem;
}
.side-card-icon + div p {
  font-size: 0.8rem;
  color: #555;
}
.btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.btn span {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.7rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-main {
  background-color: var(--color-main);
  color: #fff;
}
/* main */
.main-content {
  margin-left: 345px;
  width: calc(100vw - 345px);
  padding: 1rem 2rem 1.2rem 1.2rem;
  transition: margin-left 300ms;
  background-color: var(--bg);
  color: var(--main);
}
/* Header */
header {
  display: flex;
  padding-top: 0.5rem;
  background-color: var(--bg-2);
  justify-content: space-between;
}
.header-wrapper {
  display: flex;
}
.header-wrapper label {
  display: inline-block;
  color: var(--color-main);
  margin-right: 2rem;
  font-size: 1.8rem;
}
.header-wrapper label span:hover {
  cursor: pointer;
}
.header-title h1 {
  color: var(--main-text);
  font-weight: 600;
}
.header-title p {
  color: #666;
  font-size: 0.9rem;
}
.header-title p span {
  color: red;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}
.header-action button {
  padding: 0.85rem 2rem;
  font-size: 1rem;
}

main {
  padding: 2.5rem 0;
}
.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
  margin-bottom: 3rem;
}
.analytic {
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  padding-left: 2rem;
}
.analytic-info h4 {
  font-weight: 400;
  color: #555;
  font-size: 0.98rem;
}
.analytic-info h1 {
  color: var(--main-text);
  font-weight: 600;
}
.analytic-info h1 small {
  font-size: 0.8rem;
  font-weight: 700;
}
.analytic:first-child .analytic-icon {
  background-color: #dce5ff;
  color: #6883db;
}
.analytic:nth-child(2) .analytic-icon {
  background-color: #ebf7f5;
  color: red;
}
.analytic:nth-child(3) .analytic-icon {
  background-color: #ebf7f5;
  color: #2ec3a3;
}
.analytic:nth-child(4) .analytic-icon {
  background-color: var(--main-accent);
  color: var(--color-main);
}
.analytic-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: 0.8rem;
}
.section-head {
  font-size: 1.4rem;
  color: var(--main);
  font-weight: 600;
  margin-bottom: 1rem;
}
.block-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 30% auto;
}
.rev-content {
  background-color: var(--main-accent);
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 1rem 2rem;
  text-align: center;
}
.rev-content img {
  width: 180px;
  margin: 1.5rem 0;
  border-radius: 50%;
}
.rev-info {
  margin-bottom: 1rem;
}
.rev-info h3,
.rev-sum h4 {
  font-weight: 600;
  color: var(--main);
}
.rev-info h1,
.rev-sum h2 {
  font-weight: 400;
  margin-top: 0.4rem;
  color: #555;
}
.rev-info h1 small {
  font-size: 1rem;
}
.rev-sum {
  background-color: var(--main-accent);
  border: 1px solid var(--color-main);
  padding: 1rem;
  border-radius: 10px;
}
.graph-content {
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 1rem;
  background-color: #fff;
}
.graph-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-wrapper {
  display: flex;
  align-items: center;
}
.icon {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  background-color: #eee;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}
.graph-head select {
  outline: none;
  background-color: #eee;
  height: 35px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
}
.overlay label {
  display: block;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1224px) {
  .sidebar {
    background-color: var(--bg-2);
    display: block;
    left: -345px;
    z-index: 30;
  }
  .main-content {
    width: 100vw;
    margin-left: 0;
  }
  #menu-toggle:checked ~ .sidebar {
    
    left: 0;
  }
  #menu-toggle:checked ~ .overlay {
   
    text-align: right;
  }
}
@media only screen and (max-width: 860px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid {
    grid-template-columns: 100%;
  }
  .revenue-card {
    order: 2;
  }
}
@media only screen and (max-width: 580px) {
  .analytics {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .header,
  header-wrapper {
    align-items: center;
  }
  .header-title h1 {
    font-size: 1.2em;
  }
  .header-title p {
    display: none;
  }
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-2);
  box-shadow: var(--shadow);
}

.header-wrapper label {
  font-size: 2rem;
  color: var(--color-main);
  cursor: pointer;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-text);
  margin-right: 1rem;
}

.header-title p {
  font-size: 1rem;
  color: #666;
}

.header-title p span {
  color: red;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--color-main);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-action button:hover {
  background-color: #f37a22;
}
.logo {
  display: flex;
  align-items: center; /* Center items vertically */
}

.lab.img {
  margin-right: 10px; /* Adjust margin as needed */
}

.app-name {
  flex-grow: 1; /* Allow the app name to grow and fill available space */
}
/* Header */
.header-action {
  display: flex;
  align-items: center;
}

.user-profile {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.user-profile:hover .dropdown-content {
  display: block;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details p {
  margin: 0;
  font-size: 14px;
}

.user-details p:first-child {
  margin-bottom: 5px; /* Add some space between username and coins */
}

@media only screen and (max-width: 580px) {
  .header-wrapper label {
    font-size: 1.5rem; /* Adjust label size for smaller screens */
  }
  
  .header-title h1 {
    font-size: 1.4rem; /* Adjust title size for smaller screens */
  }
  
  .user-profile img {
    width: 30px; /* Adjust profile image size for smaller screens */
    height: 30px;
  }
  .appname{
    display: none;
  }
}


.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #245497;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #2a5694;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}


.switch-container {
  position: fixed;
  bottom: 15px; /* Adjusted bottom position */
  right: 15px; /* Adjusted right position */
  z-index: 999;
}

@media only screen and (max-width: 580px) {
  .switch-container {
    position: static; /* Change to static positioning for smaller screens */
    margin-top: 10px; /* Add some margin to separate from footer */
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px; /* Adjusted height */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0; /* Adjusted left */
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; /* Adjusted height */
  width: 20px; /* Adjusted width */
  border-radius: 50%;
  left: 1px;
  bottom: 2px; /* Adjusted bottom */
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 0;
  left: 25px;
  width: 21px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 2px;
  left: -2px;
  width: 23px;
  height: 19px;
}

.input:checked + .slider {
  background-color: #183153;
}

.input:checked + .slider:before {
  transform: translateX(24px); /* Adjusted translation */
}


/* Footer */
.footer {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-2);
  color: var(--main);
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #666;
}

@media only screen and (max-width: 580px) {
  .footer {
    position: static; /* Change position to static for smaller screens */
    margin-top: 10px; /* Add margin-top to separate from content */
    position: relative; /* Change position to relative */
    width: 100%;
    background-color: var(--bg-2);
    color: var(--main);
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
  
    bottom: 0;
    left: 0;
    width: 100%;
  }
}






.card + .card {
  margin-top: 10px; /* Adjust the margin between cards */
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 5px solid #222;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px,
          inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
          inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.card:hover {
  box-shadow: rgba(193, 44, 223, 0.19) 0px 10px 20px,
          rgba(193, 44, 223, 0.23) 0px 6px 6px,
          inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
          inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 5px solid #b671d6;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  cursor: default;
}

.card-subtitle {
  margin: 0;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: var(--main-accent);
  cursor: default;
}

.card-divider {
  border: 0;
  height: 2px;
  background-color: #fff;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ram-dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
}

.buy-button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.buy-button:hover {
  background-color: #45a049;
}

.buy-button:focus {
  outline: none;
}

.store-dropdown{
  width: 100%;
  background-color: #000000;
  box-shadow: #2ec3a3;
  color: var(--main);
  text-align: center;
}

.btn-submit {
  font-family: monospace;
  background-color: var(--main-accent);
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
  margin-top: 19px;
  margin-bottom: 10%;

}

.btn-submit:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: var(--bg-2);
}

.settings-container {
  background-color: var(--bg-2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.settings-form {
  margin-bottom: 20px;
}

.settings-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.settings-form input {
  width: 100%;
  padding: 10px;
  background-color: var(--main-accent);
  margin-bottom: 15px;
  border: 1px solid var(--main-accent);
  border-radius: 5px;
}

.settings-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-reset-password,
.btn-contact-support {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-reset-password {
  background-color: #76d63e;
  color: #fff;
}

.btn-contact-support {
  background-color: #3498db;
  color: #fff;
}

.btn-reset-password:hover,
.btn-contact-support:hover {
  background-color: darken(#f39c12, 10%);
}


/* Modal styles */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
  backdrop-filter: blur(5px); /* Add blur effect */
}

/* Modal content */
.modal-content {
  background-color: var(--bg-2);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add box-shadow */
  width: 80%; /* Adjusted width */
  max-width: 400px; /* Added max-width */
  height: auto; /* Adjusted height */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add box-shadow */
  color: var(--main);
  
  position: relative; /* Make position relative for absolute positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.close:hover {
  color: #555555;
}

/* Styling for the message */
#successMessage {
  color: #4CAF50; /* Green color for success message */
  margin-top: 20px;
  font-size: 24px;
}

/* Styling for the email */
#email {
  margin-top: 20px;
  font-size: 18px;
  color: #666666;
}
#errorMessage {
  text-align: center; /* Center align the error message */
  color:rgb(255, 255, 255);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#errorModal{
  display: none;
}




/* Style for form container */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--main-accent);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Style for form labels */
.form-container label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

/* Style for select dropdowns */
.form-container select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--main-accent);
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Style for text input fields */
.form-container input[type="text"],
.form-container input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-accent);
  background-color: var(--main-accent);
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Style for submit button */
.form-container button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
  background-color: #45a049;
}
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.egg-fields input {
  margin-right: 10px;
}

.btn-submit {
  font-family: Arial, sans-serif;
  background-color: #f3950d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #e0830a;
}


.container {
  max-width: 500px;
  margin: 0 auto;
}

.form {
  padding: 20px;
  background-color: var(--bg-2);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.egg-fields label {
  display: block;
  margin-bottom: 5px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*
Basic
*/
:root {
  --color-main: #ffa500; /* Change to your desired main color */
  --main-accent: #ffffff; /* Darker background color */
  --bg: #ffffff; /* Dark background color */
  --bg-2: #ffffff; /* Darker background color */
  --main: #161616; /* Lighter text color */
  --shadow: rgba(255, 255, 255, 0.1) 2px 0px 16px; /* Lighter shadow color */
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--main);
  overflow-x: hidden;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .sidebar {
  left: -345px;
}

#menu-toggle:checked ~ .main-content {
  margin-left: 0;
  width: 100vw;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

/* helper */
.text-danger {
  color: red;
}

.text-success {
  color: #2ec3a3;
}

.text-main {
  color: var(--color-main);
}

/*
Sidebar
*/
.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: left 300ms;
}

.sidebar-container {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 1.2rem;
  overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar {
  width: 5px;
}

.sidebar-container::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
}

.sidebar-container::-webkit-scrollbar-thumb {
  background-color: var(--main-accent);
  outline: 1px solid #ccc;
  border-radius: 2px;
}

.brand {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h3 {
  color: #444;
  font-size: 3rem;
}

.brand h3 span {
  color: var(--color-main);
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.sidebar-avatar {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  border: 2px solid var(--main-accent);
  padding: 0.1rem 0.7rem;
  border-radius: 7px;
  margin: 2rem 0rem;
}

.sidebar-avatar img {
  width: 40px;
  border-radius: 10px;
  margin: 5px 0;
}

.avatar-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu li {
  margin-bottom: 2rem;
}

.sidebar-menu a {
  color: var(--main);
  display: block;
  padding: 0.7rem 0;
}



.sidebar-menu a span:first-child {
  display: inline-block;
  margin-right: 0.8rem;
  font-size: 1.5rem;
  
}

.sidebar-card {
  background-color: var(--main-accent);
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 7px;
}

.side-card-icon span {
  font-size: 8rem;
  color: var(--main-accent);
  display: inline-block;
}

.side-card-icon {
  margin-bottom: 0.8rem;
}

.side-card-icon + div {
  margin-bottom: 1rem;
}

.side-card-icon + div p {
  font-size: 0.8rem;
  color: #555;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--color-main);
  color: var(--main);
  border: none;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #f90;
}

/*
Main Content
*/
.main-content {
  width: calc(100% - 345px);
  margin-left: 345px;
  padding: 2rem;
  transition: all 300ms;
}

.dashboard h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card + .card {
  margin-top: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 5px solid #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px,
    rgba(0, 0, 0, 0.2) 0px 6px 6px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.card:hover {
  box-shadow: rgba(193, 44, 223, 0.4) 0px 10px 20px,
    rgba(193, 44, 223, 0.4) 0px 6px 6px;
  border: 5px solid #b671d6;
}


.card-subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-accent);
  cursor: default;
}

.card-divider {
  border: 0;
  height: 2px;
  background-color: #fff;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 10px;
}

.store-dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
}

.btn-submit {
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: background-color 0.3s;
  margin-top: 19px;
  margin-bottom: 10%;
}

.btn-submit:hover {
  background-color: #ff7a00;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    padding: 10px;
  }
}


.popup-container {
  position: none;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
/* COMMON STYLES*/
.popup {
  margin: 10px;
  box-shadow: 4px 4px 10px -10px rgba(0, 0, 0, 1);
  width: 300px;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  display: flex;
  top: 5%;
  border-radius: 4px;
  z-index: 9999;
  padding: 5px 0;
  font-weight: 300;
}
.popup svg {
  width: 1.25rem;
  height: 1.25rem;
}
.popup-icon svg {
  margin: 5px;
  display: flex;
  align-items: center;
}
.close-icon {
  margin-left: auto;
}
.close-svg {
  cursor: pointer;
}
.close-path {
  fill: grey;
  width: 1rem; /* Adjust the width of the close icon */
  height: 1rem; /* Adjust the height of the close icon */
}

/*SEPERATE STYLES*/

/* SUCCESS */
.success-popup {
  background-color: #edfbd8;
  border: solid 1px #84d65a;
}
.success-icon path {
  fill: #84d65a;
}
.success-message {
  color: #2b641e;
}

/* ALERT */
.alert-popup {
  background-color: #fefce8;
  border: solid 1px #facc15;
}
.alert-icon path {
  fill: #facc15;
}
.alert-message {
  color: #ca8a04;
}

/* ERROR */

.error-popup {
  background-color: #fef2f2;
  border: solid 1px #f87171;
}
.error-icon path {
  fill: #f87171;
}
.error-message {
  color: #991b1b;
}

/* INFO */

.info-popup {
  background-color: #eff6ff;
  border: solid 1px #1d4ed8;
}
.info-icon path {
  fill: #1d4ed8;
}
.info-message {
  color: #1d4ed8;
}
