/*
Basic
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-main: #f3950d;
  --main-accent: #ffebcc;
  --bg: #f5eedc;
  --bg-2: #dce5ff;
  --main: #292c6d;
  --shadow: rgba(17, 17, 26, 0.1) 2px 0px 16px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  overflow-x: hidden;
}

#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ .sidebar {
  left: -345px;
}
#menu-toggle:checked ~ .main-content {
  margin-left: 0;
  width: 100vw;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

/* helper */
.text-danger {
  color: red;
}
.text-success {
  color: #2ec3a3;
}
.text-main {
  color: var(--color-main);
}
/*
Sidebar
*/
.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: left 300ms;
}
.sidebar-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  overflow-y: auto;
}
.sidebar-container::-webkit-scrollbar {
  width: 5px;
}
.sidebar-container::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
}
.sidebar-container::-webkit-scrollbar-thumb {
  background-color: var(--main-accent);
  outline: 1px solid #ccc;
  border-radius: 2px;
}
.brand {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand h3 {
  color: #444;
  font-size: 3rem;
}
.brand h3 span {
  color: var(--color-main);
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.sidebar-avatar {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  border: 2px solid var(--main-accent);
  padding: 0.1rem 0.7rem;
  border-radius: 7px;
  margin: 2rem 0rem;
}
.sidebar-avatar img {
  width: 40px;
  border-radius: 10px;
  margin: 5px 0;
}
.avatar-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-menu li {
  margin-bottom: 2rem;
}
.sidebar-menu a {
  color: var(--main-text);
  display: block;
  padding: 0.7rem 0;
}
.sidebar-menu a.active {
  background-color: var(--main-accent);
  border-radius: 7px;
  padding: 0.8rem;
}
.sidebar-menu a span:first-child {
  display: inline-block;
  margin-right: 0.8rem;
  font-size: 1.5rem;
  color: var(--color-main);
}
.sidebar-card {
  background-color: var(--main-accent);
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 7px;
}
.side-card-icon span {
  font-size: 8rem;
  color: var(--color-main);
  display: inline-block;
}
.side-card-icon {
  margin-bottom: 0.8rem;
}
.side-card-icon + div {
  margin-bottom: 1rem;
}
.side-card-icon + div p {
  font-size: 0.8rem;
  color: #555;
}
.btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.btn span {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.7rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-main {
  background-color: var(--color-main);
  color: #fff;
}
/* main */
.main-content {
  margin-left: 345px;
  width: calc(100vw - 345px);
  padding: 1rem 2rem 1.2rem 1.2rem;
  transition: margin-left 300ms;
}
/* Header */
header {
  display: flex;
  padding-top: 0.5rem;
  justify-content: space-between;
}
.header-wrapper {
  display: flex;
}
.header-wrapper label {
  display: inline-block;
  color: var(--color-main);
  margin-right: 2rem;
  font-size: 1.8rem;
}
.header-wrapper label span:hover {
  cursor: pointer;
}
.header-title h1 {
  color: var(--main-text);
  font-weight: 600;
}
.header-title p {
  color: #666;
  font-size: 0.9rem;
}
.header-title p span {
  color: red;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}
.header-action button {
  padding: 0.85rem 2rem;
  font-size: 1rem;
}

main {
  padding: 2.5rem 0;
}
.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
  margin-bottom: 3rem;
}
.analytic {
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  padding-left: 2rem;
}
.analytic-info h4 {
  font-weight: 400;
  color: #555;
  font-size: 0.98rem;
}
.analytic-info h1 {
  color: var(--main-text);
  font-weight: 600;
}
.analytic-info h1 small {
  font-size: 0.8rem;
  font-weight: 700;
}
.analytic:first-child .analytic-icon {
  background-color: #dce5ff;
  color: #6883db;
}
.analytic:nth-child(2) .analytic-icon {
  background-color: #ebf7f5;
  color: red;
}
.analytic:nth-child(3) .analytic-icon {
  background-color: #ebf7f5;
  color: #2ec3a3;
}
.analytic:nth-child(4) .analytic-icon {
  background-color: var(--main-accent);
  color: var(--color-main);
}
.analytic-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: 0.8rem;
}
.section-head {
  font-size: 1.4rem;
  color: var(--main);
  font-weight: 600;
  margin-bottom: 1rem;
}
.block-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 30% auto;
}
.rev-content {
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 1rem 2rem;
  text-align: center;
}
.rev-content img {
  width: 180px;
  margin: 1.5rem 0;
  border-radius: 50%;
}
.rev-info {
  margin-bottom: 1rem;
}
.rev-info h3,
.rev-sum h4 {
  font-weight: 600;
  color: var(--main);
}
.rev-info h1,
.rev-sum h2 {
  font-weight: 400;
  margin-top: 0.4rem;
  color: #555;
}
.rev-info h1 small {
  font-size: 1rem;
}
.rev-sum {
  background-color: var(--main-accent);
  border: 1px solid var(--color-main);
  padding: 1rem;
  border-radius: 10px;
}
.graph-content {
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 1rem;
  background-color: #fff;
}
.graph-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-wrapper {
  display: flex;
  align-items: center;
}
.icon {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  background-color: #eee;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}
.graph-head select {
  outline: none;
  background-color: #eee;
  height: 35px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
}
.overlay label {
  display: block;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1224px) {
  .sidebar {
    left: -345px;
    z-index: 30;
  }
  .main-content {
    width: 100vw;
    margin-left: 0;
  }
  #menu-toggle:checked ~ .sidebar {
    left: 0;
  }
  #menu-toggle:checked ~ .overlay {
    display: block;
    text-align: right;
  }
}
@media only screen and (max-width: 860px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid {
    grid-template-columns: 100%;
  }
  .revenue-card {
    order: 2;
  }
}
@media only screen and (max-width: 580px) {
  .analytics {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .header,
  header-wrapper {
    align-items: center;
  }
  .header-title h1 {
    font-size: 1.2em;
  }
  .header-title p {
    display: none;
  }
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.header-wrapper label {
  font-size: 2rem;
  color: var(--color-main);
  cursor: pointer;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-text);
  margin-right: 1rem;
}

.header-title p {
  font-size: 1rem;
  color: #666;
}

.header-title p span {
  color: red;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--color-main);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-action button:hover {
  background-color: #f37a22;
}
.logo {
  display: flex;
  align-items: center; /* Center items vertically */
}

.lab.img {
  margin-right: 10px; /* Adjust margin as needed */
}

.app-name {
  flex-grow: 1; /* Allow the app name to grow and fill available space */
}
