<%- include('./alert') %>
<header>
    <div class="header-wrapper">
      <label for="menu-toggle">
        <span class="las la-bars"></span>
      </label>
      <div class="header-title">
        <h1 class="appname"><%= AppName %></h1>
      </div>
    </div>
    <div class="header-action">
      <div class="user-profile">
          <img src="https://i.ibb.co/1TQbcJ9/a-high-resolution-logo-transparent.png" alt="User Image">
          <div class="dropdown-content">
              <a href="profile">Profile</a>
              <a href="settings">Settings</a>
              <a href="logout">Logout</a>
          </div>
      </div>
      <div class="user-details">
          <p><%= user.username %></p>
          <p><i class="fa-solid fa-coins"></i> <%= coins %></p>
      </div>
  </div>
  
  </header>