<input type="checkbox" name="" id="menu-toggle" checked>
<div class="overlay"><label for="menu-toggle">
  </label></div>
<div class="sidebar">
  <div class="sidebar-container">
    <div class="brand">
        <h4 class="logo">
            <span class="lab img"><img width="60px" height="60px" src="<%= AppLogo %>" alt="<%= AppName %>"></span>
            <span class="app-name"><%= AppName %></span>
        </h4>
    </div>
    <div class="sidebar-avatar">
    </div>

    <div class="sidebar-menu">
      <ul>
        <li><a href="/dashboard" ><span class="fas fa-home"></span><span>Dashboard</span></a></li>
        <li><a href="/store"><span class="fas fa-shopping-cart"></span><span>Buy Resources</span></a></li>
        <li><a href="/afk"><span class="fas fa-gift"></span><span>Afk Page</span></a></li>
        <li><a href="/linkvertise"><span class="fa-brands fa-discord"></span><span>Linkvertise</span></a></li>
        <li><a href="/youtube"><span class="fa-brands fa-youtube"></span><span>Watch and Earn</span></a></li>
        <li><a href="/manage"><span class="fas fa-server"></span><span>Manage Servers</span></a></li>
        <li><a href="/settings"><span class="fas fa-cog"></span><span>Settings</span></a></li>
        <li><a href="/logout"><span class="fas fa-sign-out-alt"></span><span>Logout</span></a></li>
      <!-- <li>
          <a href="<%= pterodactyldomain %>">
              <span class="icon">
                  <img  src="https://i.ibb.co/71PzpJP/68747470733a2f2f63646e2e707465726f64616374796c2e696f2f6c6f676f732f6e65772f707465726f64616374796c5f6c.png" width="24" height="24">
                  </svg>
              </span>
              <span>Login To Panel</span>
          </a>
      </li>
      --> 
    </ul>
    
    </div>
  </div>


</div>

<script>
  // Get the current pathname
  var currentPage = window.location.pathname;

  // Select all the links in the sidebar menu
  var sidebarLinks = document.querySelectorAll('.sidebar-menu a');

  // Loop through each link and check if its "href" attribute matches the current pathname
  sidebarLinks.forEach(function(link) {
    if (link.getAttribute('href') === currentPage) {
      // Add the "active" class to the link if it matches the current pathname
      link.classList.add('active');
    }
  });
</script>
