<section>
    <div class="block-grid">
      <div class="revenue-card">
        <h3 class="section-head">Advertising </h3>
        <div class="rev-content">
          <%= ads['ad1'] %>
          <div class="rev-info">
          </div>
         
        </div>
      </div>
  
  </section>