
   <section>
    <div class="block-grid">
      <div class="revenue-card">
        <h3 class="section-head">Advertising </h3>
          <div class="rev-sum">
            <%= ads['ad2'] %>
           </div>
    
      </div>
  
  </section>