
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Admin</title>

  <link rel="stylesheet" href="assets/css/style-d.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://kit.fontawesome.com/062f52da9a.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <%- include('./includes/admin-sidebar') %>

<div class="main-content">

  <%- include('./includes/admin-header') %>

  <main>

    <section class="container">

      The admin interface is currently in the development stage, and we're diligently working to ensure its release alongside version 1.0.1.

    </section>

</div>
<!-- partial -->

<%- include('./includes/admin-footer') %>
</main>
</body>
</html>






