<input type="checkbox" name="" id="menu-toggle" checked>
<div class="overlay"><label for="menu-toggle">
  </label></div>
<div class="sidebar">
  <div class="sidebar-container">
    <div class="brand">
        <h4 class="logo">
            <span class="lab img"><img width="60px" height="60px" src="<%= AppLogo %>" alt="<%= AppName %>"></span>
            <span class="app-name"><%= AppName %></span>
        </h4>
    </div>
    <div class="sidebar-avatar">
    </div>

    <div class="sidebar-menu">
      <ul>
        <li><a href="./admin"><span class="fas fa-home"></span><span>Dashboard</span></a></li>
        <li><a href="/resources"><span class="fa-solid fa-boxes-stacked"></span><span>Manage users resources</span></a></li>
        <li><a href="/server"><span class="fa-solid fa-screwdriver-wrench"></span><span>Server Settings</span></a></li>
        <li><a href="/payments"><span class="fas fa-credit-card"></span><span>Payments</span></a></li>
        <li><a href="/users"><span class="fas fa-users"></span><span>Users</span></a></li>
        <li><a href="/errors"><span class="fas fa-exclamation-triangle"></span><span>Errors</span></a></li>
        <li><a href="/logs"><span class="fas fa-file-alt"></span><span>Logs</span></a></li>
        <li><a href="../dashboard"><span class="fas fa-arrow-left"></span><span>Back To Home</span></a></li>

    </ul>
    
    </div>
  </div>


</div>

<script>
  // Get the current pathname
  var currentPage = window.location.pathname;

  // Select all the links in the sidebar menu
  var sidebarLinks = document.querySelectorAll('.sidebar-menu a');

  // Loop through each link and check if its "href" attribute matches the current pathname
  sidebarLinks.forEach(function(link) {
    if (link.getAttribute('href') === currentPage) {
      // Add the "active" class to the link if it matches the current pathname
      link.classList.add('active');
    }
  });
</script>
