<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="errorMessage"></h2>
        </div>
    </div>
    <div class="container">
        <div class="login-box">
            <h2>Register</h2>
            <form action="register" method="post">
                <div class="input-box" >
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <input type="text" name="firstName" required>
                    <label>firstName</label>
                </div>
                <div class="input-box">
                    <input type="text" name="lastName" required>
                    <label>lastName</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="forgot-pass">
                </div>
                <button type="register" class="btn">Login</button>
                <div class="signup-link">
                    <p>Already have an account ! <a href="./">Signin</a></p>
                </div>
            </form>
        </div>

      
    </div>

</body>
<script>
      
    window.onload = function() {
      const error = "<%= typeof(error) !== 'undefined' ? error : '' %>";
      if (error) {
        document.getElementById('errorMessage').innerText = error;
        document.getElementById('errorModal').style.display = 'block';
      }
    }
  
    
    const closeModal = document.querySelector('.close');
    if (closeModal) {
      closeModal.addEventListener('click', () => {
        document.getElementById('errorModal').style.display = 'none';
      });
    }
    
</script>
</html>